.inline {display: inline;}

.titlebar td {width: 25%;}

#noticeMessage
{
	height: 50px;
	text-align: center;
}


/* minamikaze's code */
.full_h {height: 100%;}
.full_w {width: 100%;}

.display_none {display: none;}

.upload_zone 
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
}
.upload_zone_enter 
{
    border: 5px dashed black;
    background-clip: content-box;
    width: calc(100% - 5px);
    padding: 0px;
}
.obj_tr 
{
    width: 100%;
    height: 25px;
}
.obj_td 
{
    width: 33%;
    height: 25px;
    text-align: left;
}

.upload_failed
{
    height: 100px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    border: 1px rgb(65, 194, 33) solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
.failed_btn
{
    height: 25px;
    width: 50px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -25px;
}